@font-face{
    font-family: body;
    src:url(ARCADECLASSIC.TTF);
}
@font-face {
    font-family: h1;
    src:url(PixelGamingRegular-d9w0g.ttf);
}
body{
    font-family: body;
    background-color:black;
    color:lightgreen;
    
}
.toppart a{
    margin-left:40px;
    margin-right:40px;
    color:lightgreen;
}
.toppart a:hover{
    text-decoration: underline;
}
.toppart{
    color:lightgreen;
}
br{
    user-select: none;
}
#pic{
    border-radius:7px;
    float:right;
    margin-right:20px;
    width:220px;
    margin-top:20px;
}
h1{
    font-family: h1;
}
.toppart2 a{
    margin:60px;
    color:lightgreen;
    font-size: x-large;
}
.toppart2 a:hover{
    text-decoration: underline;
}
.toppart2{
    color:lightgreen;
}
.project{
    text-align: center;
    display: flex;
    flex-direction: row;
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    width:90%;
}
#card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    width:55%;
    margin-right:100px;
}
#card1{
    transition: 0.3s;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    width:100%;
}
.a123{
    margin:40px;
}
.a123 a{
    font-size:x-large;
    color:lightgreen;
}
#btn2{
    color:black;
    background-color: lightgreen;
    height:60px;
    border:none;
    max-width:430px;
    width:70%;
    font-family: body;
    font-size: large;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 0.1px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: black; 
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: black; 
   border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   transition: 7s;
   background:black; 
 }